    <!-- About Section -->
    <style>
      img {
        padding-bottom: 20px;<!I have no idea what I'm doing>
      }
    </style>
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>About Me</h2>
                <img src = "/img/headshot.jpg">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <p>I study cyanobacterial hemoglobins in pursuit of my PhD in Chemical Biology in the <a href="http://sites.krieger.jhu.edu/lecomte-lab/">Lecomte Lab</a> at Johns Hopkins University. 
                </p>
                <p>Hemoglobins are commonly associated with oxygen transport, but in fact existed before atmospheric oxygen was made plentiful by photosynthesis. The globin superfamily is remarkable for achieving functional diversity within a common protein fold. It is an excellent system in which to apply spectroscopy, bioinformatics and molecular biology to explore how evolution tunes protein function.</p>
                <p>Through my graduate work on globin enzymes I have gained a deep understanding of protein science and applied sophisticated spectroscopic techniques to answer difficult questions. Now I want to use my knowledge and skills to design new proteins with applications in medicine and biotechnology. Biological engineering will produce the most exciting technologies of the next century, and it will be due in part to the awesome power of proteins.</p>
                <p>On this page you will find my CV, links to my publications and a few spectra. In case your company recently received my job application: here is my e-mail address, again, in easy-to-click form.
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center font-size-32">
                <p><a href="mailto:dillonbnye@gmail.com">dillonbnye@gmail.com</a></p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
