    <!-- Publications Section -->

    <section id="figures" class="container content-section text-left">
	 <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Spectra</h2>
            </div>
         </div>
	 <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <p>Some of the experimental biophysical data I collected during my PhD are posted below with short descriptions. These are all <a href="https://en.wikipedia.org/wiki/Nuclear_magnetic_resonance">NMR</a> or <a href="https://en.wikipedia.org/wiki/Ultraviolet%E2%80%93visible_spectroscopy">EA</a> spectra of hemoglobins. Published data are reproduced here in compliance with the policies of <a href="https://pubs.acs.org/page/copyright/index.html">ACS</a> and <a href="https://www.elsevier.com/about/policies/copyright">Elsevier.</a> </p>
            </div>
        </div>
	 <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <iframe class="slideshow-iframe" src="{{ site.baseurl }}/slides/my-pics1.html"
                style="width:75%" font-size="12px" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
            </div>
         </div>
    </section>

