    <!-- Publications Section -->

    <section id="publications" class="container content-section text-left">
	 <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Publications</h2>
            </div>
         </div>
	 <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><b>Nye, D. B.</b> and Lecomte, J. T. J. (2018) Replacement of the distal histidine reveals a non-canonical heme binding site in a 2-on-2 hemoglobin. <i>Biochemistry 57</i>, 5785-5796. <a href="https://www.ncbi.nlm.nih.gov/pubmed/30213188">[PubMed]</a></p>
                <p>Johnson, E. A.,* Russo, M. R.,* <b>Nye, D. B.</b>, and Lecomte, J. T. J. (2018) Lysine as a heme iron ligand: a property common to three truncated hemoglobins from <i>Chlamydomonas reinhardtii</i>. <i>Biochem. Biophys. Acta. 1862</i>, 2660-2673. <a href="https://www.sciencedirect.com/science/article/pii/S0304416518302575">[ScienceDirect]</a></p>
                <p><b>Nye, D. B.</b>, Preimesberger, M. R., Majumdar, A., and Lecomte, J. T. J. (2018) Histidine-lysine axial ligand switching in a hemoglobin: a role for heme propionates. <i>Biochemistry 57</i>, 631-644. <a href="https://www.ncbi.nlm.nih.gov/pubmed/29271191">[PubMed]</a></p>
                <p>Preimesberger, M. R., Johnson, E. A., <b>Nye, D. B.</b>, and Lecomte, J. T. J. (2017) Covalent attachment of the heme to <i>Synechococcus</i> hemoglobin alters its reactivity towards nitric oxide. <i>J. Inorg. Biochem. 177</i>, 171-182. <a href="https://www.ncbi.nlm.nih.gov/pubmed/28968520">[PubMed]</a></p>
                <p>Spatafora, G., Corbett, J., Cornacchione, L., Daly, W., Galan-Donlo, D., Wysota, M., Tivnan, P., Collins, J., <b>Nye, D. B.</b>, Levtiz, T., Breyer, W. A., and Glasfeld, A. (2015) Interactions of the metalloregulatory protein SloR from <i>Streptococcus mutans</i> with its metal ion effectors and DNA binding site. <i>J. Bacteriol. 197</i>, 3601-3615. <a href="https://www.ncbi.nlm.nih.gov/pubmed/26350131">[PubMed]</a></p>
                <p>Johnson, E. A., Rice, S. L., Preimesberger, M. R., <b>Nye, D. B.</b>, Gilevicius, L., Wenke, B. B., Brown, J. M., Witman, G. B., and Lecomte, J. T. J. (2014) Characterization of THB1, a <i>Chlamydomonas reinhardtii</i> truncated hemoglobin: linkage to nitrogen metabolism and identification of lysine as the distal heme ligand. <i>Biochemistry 53</i>, 4573-4589. <a href="https://www.ncbi.nlm.nih.gov/pubmed/24964018">[PubMed]</a></p>
            </div>
        </div>

        <!-- 

<a href="/pdf/biochem2.pdf">[PDF]</a> <a href="/pdf/biochem2_SI.pdf">[SI]</a>

<div class="publications-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div> -->

    </section>
